<%= form_for(@student1) do |f| %>
  <% if @student1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student1.errors.count, "error") %> prohibited this student1 from being saved:</h2>

      <ul>
      <% @student1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :class1_id %><br>
    <%= f.number_field :class1_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
