<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student1.name %>
</p>

<p>
  <strong>Class1:</strong>
  <%= @student1.class1_id %>
</p>

<%= link_to 'Edit', edit_student1_path(@student1) %> |
<%= link_to 'Back', student1s_path %>
