<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student2.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student2.age %>
</p>

<p>
  <strong>Class1:</strong>
  <%= @student2.class1_id %>
</p>

<%= link_to 'Edit', edit_student2_path(@student2) %> |
<%= link_to 'Back', student2s_path %>
